<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>tango with django</title>
	</head>

	<body>
		<h1>the top 5 most liked categories</h1><br />

		{% if categories %}
			<ul>
				{% for category in categories %}
					<li><a href="/rango/category/{{ category.url }}/">
					{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>no category in the datebase</p>
		{% endif %}

		<h1>the top 5 most viewed pages</h1>

		{% if pages %}
			<ul>
				{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>no pages in the datebase</p>
		{% endif %}

		<a href="/rango/about/">About</a><br />

	</body>
</html>